<!DOCTYPE html>
<html>
<head>
  <title>抓网页工具</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
</head>
<body>
    <h1 class="text-center">针对京东/天猫/苏宁/淘宝抓取评论素材</h1>
    <h5 class="text-center">如果是京东，那么就是全部评价, 如果是天猫/苏宁/淘宝，那就是有图的评价</h5>
    <form method="post" class="form-horizontal" role="form" action="/goods/commentImg">
        <div class="form-group">
          <textarea rows="10" name="url" class="form-control" required placeholder="输入你要抓取的商品页面（京东，天猫，苏宁, 淘宝），比如： http://item.jd.com/2025639.html, 如果有多个的话换行显示">http://item.jd.com/2025639.html,0,5</textarea>
          <br>ps: 每一行都要包括三个参数，用英文逗号隔开，分别是 链接,开始页数,结束页数<br>
          <button id="getBtn" style="margin-top: 20px" class="btn btn-primary">抓取</button>
        </div>
    </form>
</body>
</html>