<!DOCTYPE html>
<html>
<head>
  <title>抓网页工具</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
</head>
<body>
    <h1 class="text-center">页面抓取程序</h1>
    <ul>
        <li><a href="/goods">针对京东/天猫/淘宝的商品抓取</a></li>
        <li><a href="/aso">针对aso100</a></li>
        <li><a href="/duobao">抓取夺宝相关站点</a></li>
        <li><a href="/goods/commentImg">抓取商品评论（晒单图片）</a></li>
        <li><a href="/goods/commentText">抓取商品评论（晒单文字，主要是网易的一元夺宝）</a></li>
        <li><a href="/goods/userImg">抓取亚马逊商品评论（用户头像/昵称）</a></li>
    </ul>
</body>
</html>